{
  "template_version": "2.0.0",
  "highlighter": "rouge",
  "plugins": ["jemoji"],
  "permalink": "pretty",
  "collections": {
    "api": {
      "output": true,
      "title": "API",
      "permalink": "/:collection/:path/"
    },
    "examples": {
      "output": true,
      "title": "Examples",
      "permalink": "/:collection/:path/"
    },
    "guides": {
      "output": true,
      "title": "Guides",
      "permalink": "/:collection/:path/"
    }
  },
  "compress_html": {
    "comments": [
      "<!-- ",
      " -->"
    ]
  },
  "sass": {
    "style": "compressed"
  },
  "module_root": "/api",
  "example_root": "/examples",
  "guide_root": "/guides",
  "code_indent": "  "
}
