{% comment %}

module_linker
  turns foo.bar.Baz into:
  <a href="/path/to/foo/bar/Baz">Baz</a>
  or, if full_linkage is set:
  <a href="/path/to/foo/">foo</a>.<a href="/path/to/foo/bar">bar</a>.<a href="/path/to/foo/bar/Baz">Baz</a>

params:
  module="foo.bar.Baz"
  base_url="/path/to"
  markdown='true' (optional, defaults to html)
  full_linkage='true' (optional, defaults to Type only, without ancestor packages)

{% endcomment %}{%
assign modules = include.module | split: '.' %}{%
assign u = include.base_url %}{%
for m in modules %}{%
  assign u = u | append: '/' | append: m %}{%
  if include.full_linkage == 'true' or forloop.last %}{%
    if include.markdown == 'true'
      %}[{{ m }}]({{ u }}){%
    else
      %}<a href="{{ u }}">{{ m }}</a>{%
    endif %}{%
    unless forloop.last %}.{% endunless %}{%
  endif %}{%
endfor %}
